////////////////
// Color VARS //
////////////////
$c-black: #353535;
$c-purple: #6153cc;
$c-pink: #f92a82;
$c-white: #f5f5f5;
$c-white-real: #ffffff;
//////////////
// Font VARS//
//////////////
$t: 'Lato', sans-serif;
$t-light: 'Lato Light', sans-serif;
$t-hair: 'Lato Hairline', sans-serif;
$t-bold: 'Lato Bold', sans-serif;
$t-black: 'Lato Black', sans-serif;
